button.add {
    background-color: #18978F;
}

button.sub {
    background-color: #EB4747;
}

button.reset {
    background-color: #0A2F68FF;
}

.App {
    text-align: center;
}
.hidden {
    display: none;
}